:root{
  --text-color: #67492e;
  --color-1: #538DA8;
  --color-2: #B39CD0;
  --color-3: #F6E2FD;
  --color-4: #707C9F;
  --color-5: rgba(40, 97, 184,0.2);
  --gray: #d1d1d6;
}
/* 
  #184995 #B17AA1 #F5B6A4
  #E290BD #4D739A #8A4730
  #FDD19F #C67120 #12246C
  #FAA563 #105D67 #2C3113
  #FBE6D8 #6A95B5 #E68742
  #F6A441 #02368A #351F21
  #FAB35B #136885 #7AA4B2
  #FFC8CB #3C7098 #EC9134
  #E2DCDD #0F86BE #FB9B57
  #34718D #A90E10 #184B45
  #1475BC #B44517 #184B45
  #538DA8 #FBB98F #7F4722
  #2861B8 #F6E2FD #707C9F

*/
.markdown-body {
  min-height: 40vh;
  color: var(--text-color);
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 2px;
  word-break: break-word;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  scroll-behavior: smooth;
  background-color: #ffffff;
  background-size: 50px 50px;
  padding-bottom: 30px;
}
.dark .markdown-body{
  color: rgb(223, 215, 215);
  background-color: #000;
}
.markdown-body ::selection {
  color: #fff;
  background-color: var(--color-4);
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin: 24px 0 12px 0;
  color: var(--color-1);
}
.markdown-body h1 {
  line-height: 3;
  font-size: 1.4em;
}
.markdown-body h1 ~ p:first-of-type::first-letter {
  color: var(--color-1);
  float: left;
  font-size: 2em;
  margin-right: 0.4em;
  font-weight: bolder;
}
.markdown-body h2 {
  font-size: 1.2em;
}
.markdown-body h3 {
  font-size: 1.1em;
}
.markdown-body ol,
.markdown-body ul {
  padding-left: 2em;
}
.markdown-body ol li,
.markdown-body ul li {
  margin-bottom: 0;
  padding-left: 0.2em;
}
.markdown-body ol li::marker,
.markdown-body ul li::marker {
  color: var(--color-1);
}
.markdown-body ol li.task-list-item,
.markdown-body ul li.task-list-item {
  list-style: none;
}
.markdown-body ol li.task-list-item ul,
.markdown-body ol li.task-list-item ol,
.markdown-body ul li.task-list-item ul,
.markdown-body ul li.task-list-item ol {
  margin-top: 0;
}
.markdown-body ol ul,
.markdown-body ol ol,
.markdown-body ul ul,
.markdown-body ul ol {
  margin-top: 10px;
}
.markdown-body p,
.markdown-body li,
.markdown-body code,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6,
.markdown-body a {
  vertical-align: baseline;
  transition: all 0.1s ease;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6{
  font-weight: 700;
}
.markdown-body h1::before,
.markdown-body h2::before,
.markdown-body h3::before,
.markdown-body h4::before,
.markdown-body h5::before,
.markdown-body h6::before{
  font-size: 12px;
  margin-right: 0.2rem;
  opacity: 0.75;
  margin-left: -1rem;
}
.markdown-body h1::before{
  content: "H1";
}
.markdown-body h2::before{
  content: "H2";
}
.markdown-body h3::before{
  content: "H3";
}
.markdown-body h4::before{
  content: "H4";
}

.markdown-body a {
  position: relative;
  display: inline-block;
  color: var(--color-1);
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.markdown-body a::after {
  content: "";
  position: absolute;
  width: 98%;
  height: 1px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  background-color: var(--color-1);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}
.markdown-body a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.markdown-body a:active, .markdown-body a:link {
  color: var(--color-1);
}
.markdown-body img {
  width: 100%;
  display: block;
  margin: 0 auto;
  transition: all .5s;
  user-select: none;
  /* margin: 1em 0; */
  transition: transform 0.2s ease 0s;
  background-color: #f8f5ff;
  box-shadow: 0 0 10px #2333;
  border-radius: 0.5rem;
}
.markdown-body img[lazy="loading"]{
  opacity: 1;
  filter: blur(10px);
}
.markdown-body img[lazy="loaded"]{
  opacity: 1;
}
/**
图片
**/
.markdown-body figure{
  margin: 1em 0;
}
.markdown-body figure figcaption{
  position: relative;
  text-align: center;
  font-size: 14px;
  margin: 1em 0;
  -webkit-user-select: none;
  user-select: none;
}
.markdown-body figure figcaption::before{
  content: "⇡ ";
}
.markdown-body figure figcaption::after{
  content: "";
  display: block;
  position: absolute;
  width: 3em;
  height: 1px;
  background-color: var(--gray);
  bottom: 0;
  left: 50%;
  margin-left: -1.5em;
}
.markdown-body img:hover {
  box-shadow: 0 0 20px #2333;
  transform: translateY(-1px);
}
.markdown-body blockquote {
  padding: 0.5em 1em;
  margin: 12px 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-left: 3px solid var(--color-1);
  background-color: #f8f5ff;
}
.dark .markdown-body blockquote {
  background-color: #c9c9c945;
}
.markdown-body > p {
  margin: 1em 0;
}
.markdown-body blockquote > p {
  margin: 0;
}
.markdown-body .math {
  font-style: italic;
  margin: 12px 0;
  padding: 0.5em 1em;
  background-color: #f8f5ff;
}
.markdown-body .math > p {
  margin: 0;
}
.markdown-body code {
  color: var(--color-1);
  /* background-color: var(--color-5); */
  padding: 2px 0.4em;
  overflow-x: auto;
  word-break: break-word;
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  border-radius: .3em;
  font-size: 14px;
}
.markdown-body pre {
  position: relative;
  margin: 2em 0;
}
.markdown-body pre > code {
  display: block;
  padding: 1.5em;
  word-break: normal;
  font-size: 0.9em;
  font-style: normal;
  font-weight: normal;
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  line-height: 20px;
  color: #383838;
  border-radius: 2px;
  scroll-behavior: smooth;
  /* box-shadow: 0 0 8px #f7f2f4; */
  transition: box-shadow .3s;
  /* background-color: white; */
}

.markdown-body pre::before,
.markdown-body pre::after{
  content: '';
  display: block;
  margin: 5px 0;
  height: 1px;
  width: 30px;
  background-color: var(--color-1);
}

.dark .markdown-body pre > code{
  color: white;
  /* background-color: #333; */
  transition: all .3s;
}
.markdown-body pre > code:hover {
  box-shadow: 0 4px 12px #2333;
}
/* 代码块滚动条样式 */
/* .markdown-body pre > code::-webkit-scrollbar {
  height: 6px;
  background-color: var(--color-3);
}
.markdown-body pre > code::-webkit-scrollbar-thumb {
  background-color: var(--color-4);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
} */
.markdown-body hr {
  margin: 2em 0;
  border-top: 1px solid var(--color-1);
}
.markdown-body table {
  width: 100%;
  font-size: 12px;
  max-width: 100%;
  overflow: auto;
  border-collapse: collapse;
}
.markdown-body thead {
  color: var(--color-1);
  background: #f8f5ff;
}
.markdown-body td,
.markdown-body th {
  padding: 0.5em;
  border: solid 1px #e7daff;
}
.markdown-body tr {
  background-color: #f8f5ff;
}
.markdown-body .operate-btn{
  font-size: 14px;
  position: absolute;
  right: 1em;
  top: -14px;
  cursor: pointer;
  line-height: 22px;
  color: var(--text-color);
  font-weight: 800;
  text-align: right;
}
.markdown-body .operate-btn .lang-btn{
  display: block;
  text-transform: uppercase;
  opacity: 0.6;
}
.markdown-body .operate-btn .copy-btn{
  user-select: none;
  opacity: 0.6;
  transition: opacity 0.3s;
  background-color: whitesmoke;
  border-bottom: 1px solid var(--text-color);
}
.markdown-body .operate-btn .copy-btn:hover{
  opacity: 1;
  font-weight: 800;
}

/* 图片容器 */
.markdown-body .rehype-figure-container figcaption{
  display: none;
}

.markdown-body .rehype-figure{
  display: block;
  scroll-snap-stop: always;
  min-width:calc(100% - 60px);
}
.markdown-body
.rehype-figure-container
.rehype-figure{
  margin: 0;
}

.markdown-body .rehype-figure-container{
  position: relative;
  border-radius: .8em;
  margin: 1em 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  gap: 2em;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
.markdown-body .rehype-figure-container img{
  object-fit: cover;
  background-color: gray;
  border-radius: .8em;
  width: 100%;
  max-height: 440px;
  vertical-align: bottom;
}
.markdown-body .rehype-figure-container::before{
  content: '';
  display: block;
  width: 80px;
  position: absolute;
  left: 50%;
  bottom: 1em;
}
.medium-zoom-overlay{
  z-index: 24;
}
.medium-zoom-image--opened{
  z-index: 25;
}
@media (max-width: 720px) {
  .markdown-body {
    font-size: 14px;
  }
  .markdown-body h1::before,
  .markdown-body h2::before,
  .markdown-body h3::before,
  .markdown-body h4::before,
  .markdown-body h5::before,
  .markdown-body h6::before{
    margin-left: 0;
  }
}
